    <div class="teaser" id="info">
    </div>


<div class="Item">
    <h2>What do we want?</h2>
    <br>
<span>SCIENTISTS believe they could bring the likes of dodos back from the dead through cloning experiments in the near future which could see the flightless birds revived from their extinction.</span>
<br>
<br>
<span>The big bird, which was about a metre tall and weighed up to 18 kilograms, was native to Mauritius but became extinct in the 1600s, shortly after humans discovered the island.
However, 400 years later, scientists now believe that they could bring the dodo back to life through cloning of some of its closest living relatives.
Scientists recently published a paper which identified the overall genomic structure of dinosaurs.
The team achieved this by tracing the ancestors of birds – the dinosaurs closest living relatives – to create the genomic structure.
</span>
<br>
<br>
<span>Researchers involved in the study say it is an emphatic 'no' when it comes to the possibility of ever being able to clone dinosaurs, but they do say that more recently extinct birds like the carrier pigeon and the dodo could be brought back due to the fact that they have such close living relatives.
University of Kent scientists Darren Griffin and Rebecca O’Connor wrote in an article for The Conversation: “We discovered that birds and most non-avian dinosaurs had a lot of chromosomes (packages of DNA). Having so many allows animals to generate variation, the driver of natural selection.
“Nevertheless, and it is a long shot, it may be possible in future to use Jurassic Park technology to help undo some of the harm that humans have caused. Mankind has seen the extinction of well-known avian dinosaurs such as the dodo and the passenger pigeon.
</span>
<br><br>
<span>
“Recovery of DNA that is a only few hundred years old from these birds is a far more realistic proposition. It may also be that eggs from closely related living species might just be good enough.
“In the right conditions we may be able to use them to resurrect some of these species from extinction.”
</span>
<br>
<br>
<a href="https://www.express.co.uk/news/science/971538/cloning-news-dodo-dinosaur-extinct-clone-latest-university-of-kent">See Source</a>
</div>