    <div class="teaser" id="login">
    </div>



<div class="Item">
    <h2 width="100%">Log In</h2>
<br>
<br>
<form method="POST" action="/logIn">
  <h4>Your Email Adress</h4>
  <input type="text" id="email" name="email" placeholder="Your Em@il"><br>
  <h4>Your password</h4>
<input type="password" id="password" name="password" placeholder="Enter your Password">
  <br>
      

  <p id="warning"><span>Your Email Adress or Password was wrong, please try again.</span></p>    
    <button id="submitBTN">Sign In</button>
          <input type="hidden" name="_csrf" value="{{csrfToken}}"><br>

</form>

<br>
<br>
<a href="/register">Not registered by now? <br> Just click here and <u>sign up</u> now!</a>

</div>
