<h1>I'm the petition Page</h1>

<form method="POST">
  <input type="text" id="firstName" name="firstName" placeholder="First Name"><br>
  <input type="text" id="lastName" name="lastName" placeholder="Last Name"><br>
      <input type="hidden" id="signature" name="signature"><br>
  <p id="warning">Something went wrong please try a diffrent Name!</p>    
    <button id="submitBTN">Sign Now!</button>
</form>