    <div class="teaser" id="petition">
    </div>


<div class="explainer">
<h1>"Nothing is extinct forever"</h1>
<h3>Help us bring back the Dodo Bird from the dead.</h3>
<br>
<span>By signing this petition you will be one of the thousands <br> 
of people who love big cubby Birds, that can't fly. Like pinguins <br> 
just in fat. We want to get the scienes to do a little jurassic-magic <br> 
and clone Dodo Birds back to life.</span>
</div>

<div class="Item">
<form method="POST" action="/petition">
      <h4>Please Sign with your mouse here:</h4>
      <canvas id="signCanvas" width="350" height="100"></canvas>
      <input type="hidden" id="hiddenSig" name="hiddenSig"><br>

  <p id="warning" {{#if errorMessage}}class="visible"{{/if}}><span>Something went wrong, please try agin!</span></p>    
    <button id="submitBTN">Sign Now!</button>
      <input type="hidden" name="_csrf" value="{{csrfToken}}"><br>
</form>
</div>

