

<div class="Item">
<h2>Thank you!</h2>    
<br>
<h3>You are one of {{countOfUsers}} people who signed</h3>
<br>
<div id="user-signing">
<img src="{{savedSigning}}" alt="">
</div>
<br>
<a href="/signers">See who else signed the Petition</a>

<br>
<br>
<form action="/delete" method="POST">
<button id="submitBTN">Delete Signature</button>
<input type="hidden" name="_csrf" value="{{csrfToken}}"><br>
</form>

<br>

<form action="/edit">
<button id="submitBTN">Edit Profile</button>
</form>



</div>