body {
    background-color: hotpink;
}

p {
    visibility: hidden;
    color: red;
}

.visible {
    visibility: visible;
}

canvas {
    background-color: palevioletred;
}

#user-signing {
    background-color: palevioletred;
    width: 300px;
}
